/**
 * HTML tags
 */
BODY {
  font-size: 88%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  line-height: 1.6em;
  background-color: #FFFFFF;
  background-image: url(/wp-content/themes/urgyensamtenling/images/USLSealRED1.jpg);
	background-repeat: no-repeat;
	background-position: left 50px;
	background-attachment: scroll;
	padding: 0px;
  color: #BD7200;
  /*border: 1px solid purple; /*for debugging*/
}

A, A:visited {
  font-weight: normal;
  color: #F90;
  text-decoration: none;
}

A:hover, A:active, {
  color: #333333;
  text-decoration: none;
}

FORM {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}




/**
 * Buttons
 */
button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.widget button,
.widget .button,
.widget input[type="button"],
.widget input[type="reset"],
.widget input[type="submit"],
.content-sidebar .widget input[type="button"],
.content-sidebar .widget input[type="reset"],
.content-sidebar .widget input[type="submit"] {
  background-color: #900;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
button:active,
.button:active,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.widget input[type="button"]:hover,
.widget input[type="button"]:focus,
.widget input[type="button"]:active,
.widget input[type="reset"]:hover,
.widget input[type="reset"]:focus,
.widget input[type="reset"]:active,
.widget input[type="submit"]:hover,
.widget input[type="submit"]:focus,
.widget input[type="submit"]:active,
.content-sidebar .widget input[type="button"]:hover,
.content-sidebar .widget input[type="button"]:focus,
.content-sidebar .widget input[type="button"]:active,
.content-sidebar .widget input[type="reset"]:hover,
.content-sidebar .widget input[type="reset"]:focus,
.content-sidebar .widget input[type="reset"]:active,
.content-sidebar .widget input[type="submit"]:hover,
.content-sidebar .widget input[type="submit"]:focus,
.content-sidebar .widget input[type="submit"]:active {
	background-color: #660024;
}




/**
 * Main Content: IDs
 */
#main {
  max-width: 900px !important;
  min-width: 900px !important;
  width: 900px !important;
  margin: 0px auto 0px auto !important;
  /*border: 3px solid pink /*debugging*/;
}

#site-header-image {
  margin: 0px auto 0px auto; 
  background-color: transparent;
	background-repeat: no-repeat;
  width: 900px;
  min-width: 900px;
  height: 100px;
  /*border: 1px solid green; /* debugging*/
}

#site-header {
  background-image: url(/wp-content/themes/redlotus/images/redlotusBar.jpg);
	background-repeat: repeat-x;
  background-color: transparent;
	position: relative;
	z-index: 3;
  text-align: center;
}

#page-content {
  max-width: 900px;
  min-width: 900px;
  width: 900px;
  background-color: transparent;
  margin: 0px auto 0px auto;
  padding-top: 10px;
  position: relative;
  /*border: 1px solid red; /* debugging*/
}

#masthead {
  max-width: 150px;
  min-width: 150px;
  width: 150px;
  margin: 0px auto 0px 0px;
  float: left;
  /*border: 1px solid red; /* debugging*/
}

#secondary {
  /*border: 1px solid pink /*debugging*/;
  float: left;
  margin: 0px 0px 0px 10px;
  padding: 0px;
  min-width: 300px;
  width: 300px;
}




/**
 * Main Content: classes
 */
.site {
  background-color: transparent;
}

.site:before {
  background-color: transparent;
}

.site-header,
.masthead-fixed .site-header {
  background-color: transparent;
  position: relative;
}

.full-width .site-content {
  margin: 0px;
  /*border: 3px solid blue; /*debugging*/
}

.site-content .entry-header,
.site-content .entry-content,
.site-content .entry-summary,
.site-content .entry-meta,
.page-content {
  max-width: 100%;
  background-color: transparent;
}

.site-content .entry-content {
  /*margin: 0px 10px 0px 10px;*/
}

.full-width .site-content .entry-header,
.full-width .site-content .entry-content,
.full-width .site-content .entry-summary,
.full-width .site-content .footer.entry-meta {
  padding: 0px 10px 0px 15px;
  /*border: 3px solid blue; /*debugging*/
}

.paging-navigation .page-numbers.current {
	border-top: 5px solid #900;
}

.slider-control-paging .slider-active:before,
.slider-control-paging .slider-active:hover:before {
	background-color: #900;
}

.slider-direction-nav a:hover {
	background-color: #900;
}

.ie7 .slider-control-paging .slider-active,
.ie7 .slider-direction-nav a:hover {
	color: #333333;
}

.featured-content a,
.entry-title a,
.entry-meta a,
.cat-links a,
.entry-content a,
.entry-summary a,
.page-content a,
.page-links a,
.post-navigation a,
.paging-navigation a,
.image-navigation a,
.comment-author a,
.comment-list .pingback a,
.comment-list .trackback a,
.comment-metadata a,
.entry-meta .tag-links a,
.entry-content .edit-link a,
.comment-content a,
.widget_calendar tbody a,
.content-sidebar .widget a,
.taxonomy-description a,
.content-sidebar .widget .widget-title a,
.widget a,
.author-description a,
.slider-control-paging a,
.contributor-bio a,
.widget-title,
.widget-title a {
  color: #900;
	text-decoration: none;
  border: none;
}

.featured-content a:hover,
.entry-title a:hover,
.entry-meta a:hover,
.cat-links a:hover,
.entry-content a:hover,
.entry-summary a:hover,
.page-content a:hover,
.page-links a:hover,
.post-navigation a:hover,
.image-navigation a:hover,
.entry-meta .tag-links a:hover,
.entry-meta .tag-links a:hover:before,
.entry-content .edit-link a:hover,
.widget_calendar tbody a:hover,
.content-sidebar .widget a:hover,
.comment-author a:hover,
.comment-list .pingback a:hover,
.comment-list .trackback a:hover,
.comment-metadata a:hover,
.comment-content a:hover,
.widget a:hover,
.widget-title a:hover,
.content-sidebar .widget .widget-title a:hover,
.paging-navigation a:hover,
.taxonomy-description a:hover,
.author-description a:hover,
.slider-control-paging a:hover,
.slider-control-paging a:hover:before,
.contributor-bio a:hover {
  color: #333333;
  border: none;
}

.entry-meta .tag-links a:hover:before,
.entry-meta .tag-links a:focus:before {
	border-left-color: #900;
}

.full-width .site-content img.size-full.alignright {
  margin-right: 0px;
}




/**
 * Content Area
 */
.hentry {
  margin-bottom: 20px;
}

.list-view .site-content .hentry {
  padding-top: 15px;
}

.search-header {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.content-area {
  padding-top: 0px;
  margin-top: 28px;
  /*border: 1px solid blue; /*debugging*/
}

.main-content {
  width: 430px;
  min-width: 430px;
  margin: 0px 0px 0px 10px;
  /*border: 1px solid blue; /*debugging*/
}

.main-content h1 {
  font-size: 27px;
  color: #900;
  font-weight: lighter;
  font-family: "Times New Roman", Times, serif;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 12px 0px;
}

.main-content h2 {
  font-size: 17px;
  color: #900;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  margin: 25px 0px 12px 0px;
}

.main-content h3 {
  font-size: 15px;
  color: #666666;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  margin: 10px 0px 12px 0px;
}

.main-content #post-11 h3 {
  width: 240px;
  min-width: 240px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.main-content p {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 12px 0px;
}

.main-content #post-16 input {
  border: none;
}

.main-content #post-11 p,
.main-content p.border {
  padding: 0px 0px 12px 0px;
  margin: 0px 0px 12px 0px;
  border-bottom: 1px dotted #F90; 
}

.main-content #post-11 p img.alignright {
  margin-top: -23px;
  border: 2px solid #900;
}

.main-content #rlmap iframe {
  margin-bottom: 8px;
}

.main-content #rlmap {
  clear: all;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 18px;
  border-bottom: 1px dotted #F90; 
}

.page-list {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.page-list .page-list-ext-item {
  padding: 5px 0px 15px 0px;
  border-bottom: 1px dotted #666666;
}

.page-list .page-list-ext-item h3 {
  font-size: 15px;
  color: #900;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
}




/**
 * Navigation
 */
.header-main {
  background-image: url(/wp-content/themes/urgyensamtenling/images/menuBack.png);
  background-repeat: no-repeat;
	background-position: left top;
  background-color: transparent;
	min-height: 20px;
  padding: 0px 0px 0px 0px;
  margin: 22px 0px 0px 0px;
  height: 300px;
  width: 150px;
  min-width: 150px;
  cursor: default;
}

.primary-navigation {
  float: left;
  text-transform: lowercase;
}

.primary-navigation .current_page_item > a,
.primary-navigation .current_page_ancestor > a,
.primary-navigation .current_page_parent > a {
  background-color: transparent;
  background-image: url(/wp-content/themes/urgyensamtenling/images/uslRoll.jpg);
	background-position: left center;
	background-repeat: no-repeat;
  padding-left: 18px;
  color: #333333;
}

.primary-navigation .page_item_has_children > a {
  padding-right: 0px;
}

.primary-navigation .page_item_has_children > a:after {
  top: 9px;
  right: 30px;
  vertical-align: text-center;
}

.primary-navigation ul li {
  width: 130px;
  /*border: 1px solid black; /* debugging */
  height: 31px;
  vertical-align: text-center;
  line-height: 31px;
  font-size: 12px;
  margin-left: 18px;
  border-bottom: 1px dotted #F90;
}

.primary-navigation ul li a {
  text-align: left;
  position: relative;
  width: 100%;
  margin-left: 8px;
}

.site-navigation a:hover,
.site-navigation a:active,
.primary-navigation a:hover,
.primary-navigation a:active {
  color: #333333;
  background-image: url(/wp-content/themes/urgyensamtenling/images/uslRoll.jpg);
	background-position: left center;
	background-repeat: no-repeat;
  padding-left: 18px;
}

.primary-navigation li:hover > a,
.primary-navigation li.focus > a,
.primary-navigation ul ul a:hover,
.primary-navigation ul ul li.focus > a,
.secondary-navigation li:hover > a,
.secondary-navigation li.focus > a,
.secondary-navigation ul ul a:hover,
.secondary-navigation ul ul li.focus > a,
.ie8 .primary-navigation li:hover > a,
.ie8 .primary-navigation li:hover > a,
.ie8 .primary-navigation ul ul a:hover,
.ie8 .primary-navigation ul ul li.focus > a,
.ie8 .secondary-navigation li.focus > a,
.ie8 .secondary-navigation li.focus > a,
.ie8 .secondary-navigation ul ul a:hover,
.ie8 .secondary-navigation ul ul li.focus > a {
  background-color: transparent;
  color: #333333;
}

.primary-navigation ul li a,
.primary-navigation ul li a:visited {
  padding: 0px 0px 0px 0px;
  text-transform: lowercase;
  color: #900;
}

.page_item_has_children a:hover,
.page_item_has_children a:active,
.primary-navigation ul li a:hover,
.primary-navigation ul li a:active, {
  color: #333333 !important;
  text-decoration: none;
}

.primary-navigation ul ul,
.secondary-navigation ul ul,
.ie8 .primary-navigation ul ul,
.ie8 .secondary-navigation ul ul {
  top: 20px;
  width: 101%;
  background-color: #900;
}




/**
 * Search
 */
.search-toggle {
  background-color: transparent;
  /*Sborder-bottom: 1px dotted #F90;*/
  height: 30px;
  line-height: 30px;
  text-align: right;
  width: 130px;
  margin-right: 10px;
}

.search-toggle:hover,
.search-toggle.active {
  color: #FFFFFF !important;
	background-color: #F90;
}

.search-toggle:before {
  color: #900;
  font-size: 22px;
	margin-top: 0px;
}

.search-box-wrapper {
  top: 0px;
  left: 0px;
  padding-left: 160px;
  width: 900px !important;
  min-width: 900px !important;
}

.search-box {
  border: 1px solid #F90;
	background-color: #F90;
}





/**
 * Sidebar
 */
.primary-sidebar .widget {
  color: #666666;
  background-color: transparent;
  width: 100%;
  margin: 0px 0px 20px 0px;
  border-bottom: 2px solid #F90;
}

.primary-sidebar .widget .widget-title {
  font-size: 16px;
  padding: 3px 7px 0px 7px;
  margin: 20px 0px 0px 0px;
  border-top: 2px solid #F90;
}

.primary-sidebar .widget-sb-easy-image,
.primary-sidebar .widget_sp_image {
  background-image: url(/wp-content/themes/urgyensamtenling/images/buddhaBox.gif);
	background-repeat: no-repeat;
  height: 400px;
	background-position: left top;
}

.primary-sidebar .widget-sb-easy-image img,
.primary-sidebar .widget_sp_image img {
  margin-top: 100px;
  border-top: 4px solid #900;
  border-bottom: 4px solid #900;
}

.primary-sidebar .widget a {
	color: #F90;
}

.primary-sidebar .widget a:hover {
  color: #333333;
}

.primary-sidebar .widget a img:hover {
  background-color: transparent;
}

.primary-sidebar .widget p {
	padding: 0px 7px 6px 7px;
  margin: 0px 0px 0px 0px;
  line-height: 23px;
  font-size: 13px; 
}

.primary-sidebar .widget .subtitle {
  font-weight: bold;
  color: #900;
}





/**
 * Footer
 */
.site-footer {
  width: 925px;
  min-width: 925px;
  background-color: transparent;
  height: 300px;
  background-image: url(/wp-content/themes/urgyensamtenling/images/footerBurst.png);
  background-repeat: no-repeat;
  margin: 0px auto 0px auto;
}

.site-info {
  color: #666666;
  padding-bottom: 0px;
}

.site-info a {
  font-weight: bold;
  background-color: transparent;
}

.site-info a:hover {
  font-weight: bold;
  background-color: transparent;
}

.footer-sidebar {
  padding-top: 0px !important;
  height: 285px;
}

.footer-sidebar .widget {
  margin-bottom: 0px !important;
  padding: 0px 0px 0px 0px;
  float: none;
  height: inherit;
  font-size: 11px;
  background-image: url(/wp-content/themes/urgyensamtenling/images/lotusSm.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  /*border: 1px solid red;*/
}

.footer-sidebar .widget_pages, 
.footer-sidebar .widget_nav_menu {
  border-right: 1px dotted #900; 
}

.footer-sidebar .widget .widget-text {
  margin: 5px 0px 0px 5px;
}

.footer-sidebar .widget .widget-title {
  font-size: 12px;
  color: #666666;
  text-transform: none;
  padding: 0px 0px 4px 0px;
  margin: 10px 0px 0px 10px;
}

.footer-sidebar .widget ul,
.footer-sidebar .widget p {
  margin: 0px 0px 0px 10px;
}




/**
 * psuedo-selectors 
 */
::selection {
  background: #900;
  color: #FFFFFF;
  text-shadow: none;
}

::-moz-zelection {
  background: #900;
  color: #FFFFFF;
  text-shadow: none;
}
