/**
 * HTML tags
 */
BODY {
  font-size: 80%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.5em;
  background-color: #f8f8ec;
	padding: 0px;
  color: #000000 !important;
}

A, A:visited {
  font-weight: normal;
  color: #7f9a42;
  text-decoration: none;
}

A:hover, A:active, {
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0px 10px 0px;
}




/**
 * Buttons
 */
button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.widget button,
.widget .button,
.widget input[type="button"],
.widget input[type="reset"],
.widget input[type="submit"],
.content-sidebar .widget input[type="button"],
.content-sidebar .widget input[type="reset"],
.content-sidebar .widget input[type="submit"] {
  background-color: #7f9a42;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
button:active,
.button:active,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.widget input[type="button"]:hover,
.widget input[type="button"]:focus,
.widget input[type="button"]:active,
.widget input[type="reset"]:hover,
.widget input[type="reset"]:focus,
.widget input[type="reset"]:active,
.widget input[type="submit"]:hover,
.widget input[type="submit"]:focus,
.widget input[type="submit"]:active,
.content-sidebar .widget input[type="button"]:hover,
.content-sidebar .widget input[type="button"]:focus,
.content-sidebar .widget input[type="button"]:active,
.content-sidebar .widget input[type="reset"]:hover,
.content-sidebar .widget input[type="reset"]:focus,
.content-sidebar .widget input[type="reset"]:active,
.content-sidebar .widget input[type="submit"]:hover,
.content-sidebar .widget input[type="submit"]:focus,
.content-sidebar .widget input[type="submit"]:active {
	background-color: #000000;
}




/**
 * Main Content: IDs
 */
#page-content {
  max-width: 97%;
  min-width: 97%;
  width: 97%;
  background-color: inherit;
  padding-top: 0px;
  margin: 0px auto 0px auto !important;
  /*border: 1px solid green; /* debugging*/
}

#main {
  max-width: 100% !important;
  min-width: 100% !important;
  width: 100% !important;
  margin: 0px auto 0px auto !important;
  border: none;
  /*border: 3px solid pink /*debugging*/;
}

#site-header-image {
  margin: -50px auto 0px 105px; 
  background-color: transparent;
	background-repeat: no-repeat;
	padding-top: 10px;
  /*border: 3px solid pink /*debugging*/;
}

#site-header {
  width: 210px;
  background-color: transparent;
  /*border: 3px solid blue /*debugging*/;
}

#site-header-two {
  width: 99%;
  border-top: 5px solid #e5e1bc;
  border-bottom: 15px solid #a7a37e;
  min-height: 140px;
  background: #e7e4af;
  background: -webkit-linear-gradient(#e7e4af, #d5d2a5);
  background: -o-linear-gradient(#e7e4af, #d5d2a5); 
  background: -moz-linear-gradient(#e7e4af, #d5d2a5);
  background: linear-gradient(#e7e4af, #d5d2a5);
  box-shadow: 0px 0px 7px #eae8d3;
}

#masthead {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  margin: 0px auto 10px auto;
  /*border: 3px solid pink /*debugging*/;
}

#secondary {
  float: left;
  width: 8%;
  min-width: 170px !important;
  padding: 0px 5px 0px 30px !important;
  margin: 0px;
  color: #000000 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  /*border: 3px solid green /*debugging*/;
}

#site-title {
  display: block;
  padding: 25px 0px 0px 80px;
}

#site-title .btitle {
  letter-spacing: -.1px;
  font-size: 47px;
  font-family: georgia, times New Roman;
  font-style: italic;
  margin: 0 0 0 .5em;
}

#site-title p {
  font-size: 1.3em;
  margin-top: 6px;
  margin-left: 250px;
  text-align: left;
  font-style: italic;
}

.btitle a,
.btitle a:hover,
.btitle a:active,
.btitle a:visited,
#site-title p a:hover,
#site-title p a:active,
#site-title p a:visited {
  color: #333333;
}


#primary-sidebar, 
#content-sidebar {
  width: 8%;
  min-width: 170px;
}

#content-sidebar {
  padding: 0px 8px 8px 8px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
}

.site {
  max-width: 99% !important;
  min-width: 385px;
}

.content-sidebar .widget .widget-title {
  border: none;
  text-transform: none;
  color: #333333;
}

.site-content {
  margin-left: 10px !important;
  margin-right: 200px !important;
}

.entry-content h1 {
  font-weight: normal;
}

.entry-content h3 {
  font-weight: normal;
  font-size: 18px;
}




/**
 * Main Content: classes
 */
#content,
.site,
.site-content,
.page,
.page-content,
.entry-content,
article {
  background-color: #f8f8ec !important;
}

.site:before {
  background-color: transparent;
  width: 0px;
}

.site-header,
.masthead-fixed .site-header {
  background-color: transparent;
  position: relative;
}

.full-width .site-content {
  margin: 0px;
  /*border: 3px solid blue; /*debugging*/
}

.site-content .entry-header,
.site-content .entry-content,
.site-content .entry-summary,
.site-content .entry-meta,
.page-content {
  max-width: 100%;
}

.site-content .entry-content {
  margin: 0px 10px 0px 10px;
  min-width: 350px;
}

.full-width .site-content .entry-header,
.full-width .site-content .entry-content,
.full-width .site-content .entry-summary,
.full-width .site-content .footer.entry-meta {
  padding: 0px 10px 0px 15px;
  /*border: 3px solid blue; /*debugging*/
}

.paging-navigation .page-numbers.current {
	border-top: 5px solid #7f9a42;
}

.slider-control-paging .slider-active:before,
.slider-control-paging .slider-active:hover:before {
	background-color: #7f9a42;
}

.slider-direction-nav a:hover {
	background-color: #7f9a42;
}

.ie7 .slider-control-paging .slider-active,
.ie7 .slider-direction-nav a:hover {
	color: #7f9a42;
}

.featured-content a,
.entry-title a,
.entry-meta a,
.cat-links a,
.entry-content a,
.entry-summary a,
.page-content a,
.page-links a,
.post-navigation a,
.paging-navigation a,
.image-navigation a,
.comment-author a,
.comment-list .pingback a,
.comment-list .trackback a,
.comment-metadata a,
.entry-meta .tag-links a,
.entry-content .edit-link a,
.comment-content a,
.widget_calendar tbody a,
.content-sidebar .widget a,
.taxonomy-description a,
.content-sidebar .widget .widget-title a,
.widget a,
.author-description a,
.slider-control-paging a,
.contributor-bio a,
.widget-title,
.widget-title a {
  color: #7f9a42;
	text-decoration: none;
  border: none;
}

.featured-content a:hover,
.entry-title a:hover,
.entry-meta a:hover,
.cat-links a:hover,
.entry-content a:hover,
.entry-summary a:hover,
.page-content a:hover,
.page-links a:hover,
.post-navigation a:hover,
.image-navigation a:hover,
.entry-meta .tag-links a:hover,
.entry-meta .tag-links a:hover:before,
.entry-content .edit-link a:hover,
.widget_calendar tbody a:hover,
.content-sidebar .widget a:hover,
.comment-author a:hover,
.comment-list .pingback a:hover,
.comment-list .trackback a:hover,
.comment-metadata a:hover,
.comment-content a:hover,
.widget a:hover,
.widget-title a:hover,
.content-sidebar .widget .widget-title a:hover,
.paging-navigation a:hover,
.taxonomy-description a:hover,
.author-description a:hover,
.slider-control-paging a:hover,
.slider-control-paging a:hover:before,
.contributor-bio a:hover {
  color: #FFFFFF;
	background-color: #7f9a42;
  border: none;
}

.entry-meta .tag-links a:hover:before,
.entry-meta .tag-links a:focus:before {
	border-left-color: #7f9a42;
}




/**
 * Content Area
 */
.archive-header,
.comments-area,
.image-navigation,
.page-header,
.page-content,
.post-navigation,
.site-content .entry-header,
.site-content .entry-content,
.site-content .entry-summary,
.site-content footer.entry-meta,
.hentry {
  background-color: transparent;
  margin-bottom: 20px;
  max-width: 100% !important;
  margin-right: 0px !important;
  padding-right: 0px !important;
}

.list-view .site-content .hentry {
  padding-top: 15px;
}

.search-header {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 15px;
}

.search-form input {
  width: 250px;
  border: 5px solid #7f9a42;
}

.content-area {
  padding-top: 0px;
  margin-top: 15px;
  /*border: 1px solid blue; /*debugging*/
}

.main-content {
  width: 83%;
  /*border: 1px solid blue; /*debugging*/
}

.no-sidebar {
  width: 99% !important;
  min-width: 99% !important;
  /*border: 1px solid blue; /*debugging*/
}

.no-sidebar .content-area {
  border: none;
}

.main-content h1 {
  font-size: 18pt;
  color: #000000;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 12px 0px;
}

.main-content p {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 12px 0px;
}

.main-content img.rlimage {
  border: 4px solid #D2001B;
}

.main-content div.rlfeaturedcontent {
  width: 100%;
  height: auto;
  padding: 10px 0px 10px 0px;
  border-top: 1px dotted #666666;
  border-bottom: 1px dotted #666666;
}

.main-content #rlmap {
  clear: all;
  padding-top: 10px;
  margin-top: 10px;
}

.page-list {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.page-list .page-list-ext-item {
  padding: 5px 0px 15px 0px;
  border-bottom: 1px dotted #666666;
}

.page-list .page-list-ext-item h3 {
  font-size: 15pt;
}




/**
 * Navigation
 */
.header-main {
  width: 99%;
  min-width: 400px;
  background-color: transparent;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  min-height: 30px;
  /*border: 1px solid blue; /* debugging */
}

.primary-navigation {
  float: none;
  text-transform: none;
  text-align: left;
  padding-left: 100px;
  margin: 0px auto 0px auto;
  height: auto;
  background: #2c2220;
  background: -webkit-linear-gradient(#66615e, #2c2220);
  background: -o-linear-gradient(#66615e, #2c2220); 
  background: -moz-linear-gradient(#66615e, #2c2220);
  background: linear-gradient(#66615e, #2c2220);
}

.secondary-nav {
  float: none;
  text-transform: none;
  text-align: left;
  padding-left: 190px;
  margin: -20px auto 0px auto;
  position: relative;
  z-index: 100;
  height: auto;
  background: transparent;
}

.secondary-nav ul {
  font-size: 12px;
  text-transform: none;
}

.secondary-nav ul li {
  float: left;
}

.secondary-nav ul li a {
  text-transform: none;
  color: #333333;
  background: #bfbc94;
  margin-left: .5em;
  margin-bottom: 0px;
  display: inline-block;
  padding: 8px 10px 5px 10px;
}

.secondary-nav ul li a:hover,
.secondary-nav ul li a:active,
.secondary-nav ul li a:visited {
  background-color: #a7a37e !important;
  color: #ffffff !important;
}

.secondary-nav .current_page_item > a,
.secondary-nav .current_page_ancestor > a,
.secondary-nav .current_page_parent > a {
  background-color: #a7a37e;
  color: #ffffff !important;
}

.primary-navigation .current_page_item > a,
.primary-navigation .current_page_ancestor > a,
.primary-navigation .current_page_parent > a {
  background-color: #e1ddad;
  color: #2c2220;
}

.primary-navigation .page_item_has_children .children {
  width: 180px;
  height: auto;
  /*border: 1px solid green; /* debugging */
}

.primary-navigation .page_item_has_children > a {
  padding-right: 0px;
}

.primary-navigation .page_item_has_children > a:after,
.primary-navigation .menu-item-has-children li.menu-item-has-children > a:after, 
.primary-navigation .menu-item-has-children li.page_item_has_children > a:after, 
.primary-navigation .page_item_has_children li.menu-item-has-children > a:after, 
.primary-navigation .page_item_has_children li.page_item_has_children > a:after {
  top: 15px;
  right: 25px;
}

.primary-navigation ul {
  margin: 0px auto 0px auto;
  min-height: inherit;
  height: auto;
  /*border: 1px solid blue /* debugging */;
}

.primary-navigation ul li {
  line-height: 20px;
  font-size: 10pt;
  margin: 0px 6px 0px 0px;
  /*border: 3px solid green /* debugging */;
}

.primary-navigation ul li a {
  display: inline-block;
  text-align: center;
  position: relative;
  margin-top: 25px;
  padding: 0em .6em .3em .6em;
  width: auto;
  height: auto;
}

.site-navigation a:hover,
.site-navigation a:active,
.primary-navigation a:hover,
.primary-navigation a:active {
  color: #7f9a42;
  background-color: #e1ddad !important;
}

.primary-navigation li:hover > a,
.primary-navigation li.focus > a,
.primary-navigation ul ul a:hover,
.primary-navigation ul ul li.focus > a,
.secondary-navigation li:hover > a,
.secondary-navigation li.focus > a,
.secondary-navigation ul ul a:hover,
.secondary-navigation ul ul li.focus > a,
.ie8 .primary-navigation li:hover > a,
.ie8 .primary-navigation li:hover > a,
.ie8 .primary-navigation ul ul a:hover,
.ie8 .primary-navigation ul ul li.focus > a,
.ie8 .secondary-navigation li.focus > a,
.ie8 .secondary-navigation li.focus > a,
.ie8 .secondary-navigation ul ul a:hover,
.ie8 .secondary-navigation ul ul li.focus > a {
  color: #7f9a42;
  background-color: #e1ddad;
}

.primary-navigation ul li a,
.primary-navigation ul li a:visited {
  text-transform: none;
  color: #FFFFFF;
}

.page_item_has_children a:hover,
.page_item_has_children a:visited,
.primary-navigation ul li a:hover,
.primary-navigation ul li a:active, {
  color: #FFFFFF;
  background-color: #e1ddad;
  text-decoration: none;
}

.primary-navigation ul ul,
.secondary-navigation ul ul,
.ie8 .primary-navigation ul ul,
.ie8 .secondary-navigation ul ul {
  top: 40px;
  width: inherit;
  text-align: left;
  background-color: #e1ddad;
}

.site-navigation ul ul a:hover,
.site-navigation ul ul a:active,
.primary-navigation ul ul a:hover,
.primary-navigation ul ul a:active {
  color: #7f9a42;
  background-color: #e1ddad !important;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
}

.primary-navigation ul ul li a {
  display: inline-block;
  background-color: transparent;
  border-radius: 0px;
  box-shadow: none;
  text-align: left;
  vertical-align: center !important;
  position: relative;
  width: 100%;
  height: 40px;
  padding: 0px 0px 0px 5px;
}

.primary-navigation ul ul li,
.secondary-navigation ul ul li,
.ie8 .primary-navigation ul ul li,
.ie8 .secondary-navigation ul ul li {
  font-size: 10pt;
  background-color: #e1ddad;
}

.primary-navigation ul ul ul,
.secondary-navigation ul ul ul,
.ie8 .primary-navigation ul ul ul,
.ie8 .secondary-navigation ul ul ul {
}

.primary-navigation ul ul ul li,
.secondary-navigation ul ul ul li,
.ie8 .primary-navigation ul ul ul li,
.ie8 .secondary-navigation ul ul ul li {
  font-size: 9pt;
}

#image-rotator {
  float: right;
  margin: -130px 0px -15px 10px; 
}


/**
 * Search
 */
.search-toggle {
  display: none;
  background-color: #e1ddad;
  height: 40px;
  line-height: 39px;
  text-align: center;
  width: 60px;
  border-radius: 6px;
  box-shadow: 3px 3px 3px #7f9a42;
}

.search-toggle:hover,
.search-toggle:active,
.search-toggle.active {
  color: #7f9a42;
	background-color: #e1ddad;
  border-radius: 6px;
  box-shadow: 3px 3px 3px #7f9a42;
}

.search-toggle:before {
  font-size: 22pt;
  font-weight: bold;
	margin: 7px 0px 0px 4px;
}

.search-box-wrapper {
  top: 20px;
  width: 375px;
  padding: 0px 0px 0px 0px;
}

.search-box {
  border: 1px solid #000000;
  border-radius: 5px;
	background-color: #7f9a42;
}





/**
 * Sidebar
 */
.primary-sidebar .widget,
.content-sidebar .widget {
  color: #333333;
  background-color: transparent;
  width: 99%;
  min-width: 99%;
  margin: 15px 0px 20px 0px;
}

.primary-sidebar .widget .widget-title,
.content-sidebar .widget .widget-title {
	background-position: left top;
  background-repeat: no-repeat;
  font-size: 14pt;
  text-transform: none;
  padding: 3px 12px 8px 0px;
  margin: 0px 0px 0px 0px;
  color: #333333;
  font-weight: normal;
}

.primary-sidebar .widget a {
	color: #7f9a42;
}

.primary-sidebar .widget a:hover {
  color: #FFFFFF;
}

.primary-sidebar .widget a img:hover {
  background-color: transparent;
}

.primary-sidebar .widget_archive ul,
.primary-sidebar .widget_categories ul {
  margin: 0px 12px 0px 12px;
  font-size: 10pt; 
}

.primary-sidebar .textwidget {
  padding: 0px 12px 0px 12px;
  font-size: 10pt; 
  line-height: 19pt;
}

.primary-sidebar .widget p {
  padding: 0px 0px 10px 0px;
  margin: 0px 0px 0px 0px;
}

.primary-sidebar .widget .subtitle {
  font-weight: bold;
  color: #333333;
}





/**
 * Footer
 */
.site-footer {
  width: 99%;
  min-width: 99%;
  margin: 5px auto 0px 0px;
  position: relative;
  height: auto;
  border-top: 15px solid #a7a37e;
  background: #2c2220;
  background: -webkit-linear-gradient(#66615e, #2c2220);
  background: -o-linear-gradient(#66615e, #2c2220); 
  background: -moz-linear-gradient(#66615e, #2c2220);
  background: linear-gradient(#66615e, #2c2220);
  /*border: 1px solid green; /* debugging*/
}

.site-info {
  color: #FFFFFF;
  text-align: center;
}

.site-info a {
  color: #FFFFFF;
  background-color: transparent;
}

.site-info a:hover {
  color: #660024;
  background-color: #FFFFFF;
}

.footer-sidebar {
  padding-top: 0px !important;
}

.footer-sidebar .widget {
  margin-bottom: 0px !important;
  padding: 0px 0px 0px 0px;
  float: none;
}

.footer-sidebar .widget_text {
  width: 100%;
}




/**
 * schedule page
 */
.event-list-cal-single a:hover,
.event-list-cal .event-list-cal-excerpt a:hover {
  background-color: transparent;
  cursor: default;
}

.event-list-cal-excerpt {
  top: 15px !important;
}

#event-list-cal-month {
  /*position: static;
  display: block;
  padding: 10px 0px 15px 0px;*/
}



.rsspad {
  padding-top: 10px;
}

.rss {
  background: url(/wp-content/themes/slcguitarlessons/images/rss.png) no-repeat;
  padding-bottom: 6px;
  padding-left: 20px;
}

/**
 * psuedo-selectors 
 */
::selection {
  background: #7f9a42;
  color: #FFFFFF;
  text-shadow: none;
}

::-moz-zelection {
  background: #7f9a42;
  color: #FFFFFF;
  text-shadow: none;
}


/**
 * @media screen
 */
@media screen and (min-width: 1211px) and (max-width: 1270px) {
  .main-content {
    margin-left: -10px;
  }
}

@media screen and (min-width: 1161px) and (max-width: 1210px) {
  .main-content {
    margin-left: -20px;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1160px) {
  .main-content {
    margin-left: -30px;
  }
}

@media screen and (min-width: 1008px) and (max-width: 1099px) {
  .main-content {
    margin-left: -30px;
    width: 80%;
  }
}

@media screen and (min-width: 673px) and (max-width: 1007px) {
  .main-content {
    width: 95%;
    max-width: 95% !important;
    margin: 0px auto 0px -30px;
  }
  
  #secondary,
  #primary-sidebar {
    width: 350px;
    min-width: 350px !important;
  }
}

@media screen and (min-width: 400px) and (max-width: 672px) {
  .main-content {
    width: 98%;
    max-width: 98% !important;
    margin: 0px auto 0px -30px;
  }

  #content-sidebar {
    clear: both;
    width: 350px;
    min-width: 350px !important;
    margin-left: 30px;
  }

  .site-content {
    margin-right: 0px !important;
  }
  
  #secondary,
  #primary-sidebar {
    width: 350px;
    min-width: 350px !important;
  }
}
