/**
 * HTML tags
 */
BODY {
  font-size: 75%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  background-color: #FFFFFF;
  background-image: url(/wp-content/themes/redlotus/images/redlotusStripe.jpg);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-attachment: fixed;
  padding: 0px;
  color: #666666 !important;
}

A, A:visited {
  font-weight: bold;
  color: #CC0024;
  text-decoration: none;
}

A:hover, A:active, {
  color: #FFFFFF;
  background-color: #CC0024;
  text-decoration: none;
}

BLOCKQUOTE {
  margin: 0px 10px 0px 12px;
  font-size: 16px;
}

CITE {
  font-weight: bold;
}

CITE:before {
  content: open-quote;
}

CITE:after {
  content: close-quote;
}

DIV.blockquote {
  display: block;
  margin-bottom: 20px;
}




/**
 * Buttons
 */
button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.widget button,
.widget .button,
.widget input[type="button"],
.widget input[type="reset"],
.widget input[type="submit"],
.content-sidebar .widget input[type="button"],
.content-sidebar .widget input[type="reset"],
.content-sidebar .widget input[type="submit"] {
  background-color: #CC0024;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
button:active,
.button:active,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.widget input[type="button"]:hover,
.widget input[type="button"]:focus,
.widget input[type="button"]:active,
.widget input[type="reset"]:hover,
.widget input[type="reset"]:focus,
.widget input[type="reset"]:active,
.widget input[type="submit"]:hover,
.widget input[type="submit"]:focus,
.widget input[type="submit"]:active,
.content-sidebar .widget input[type="button"]:hover,
.content-sidebar .widget input[type="button"]:focus,
.content-sidebar .widget input[type="button"]:active,
.content-sidebar .widget input[type="reset"]:hover,
.content-sidebar .widget input[type="reset"]:focus,
.content-sidebar .widget input[type="reset"]:active,
.content-sidebar .widget input[type="submit"]:hover,
.content-sidebar .widget input[type="submit"]:focus,
.content-sidebar .widget input[type="submit"]:active {
	background-color: #660024;
}




/**
 * Main Content: IDs
 */
#main {
  max-width: 800px !important;
  min-width: 800px !important;
  width: 800px !important;
  margin: 0px auto 0px auto !important;
  /*border: 3px solid pink /*debugging*/;
}

#site-header-image {
  margin: 0px auto 0px auto; 
  background-color: #FFFFFF;
	background-repeat: no-repeat;
  width: 800px;
  height: 67px;
	border-bottom: 10px solid #CC0024;
	padding-top: 15px;
}

#site-header {
  background-image: url(/wp-content/themes/redlotus/images/redlotusBar.jpg);
	background-repeat: repeat-x;
  background-color: #CC0024;
	position: relative;
	z-index: 3;
  text-align: center;
}

#page-content {
  max-width: 800px;
  min-width: 800px;
  width: 800px;
  background-color: #FFFFFF;
  margin: 0px auto 0px auto;
  padding-top: 10px;
  position: relative;
  /*border: 1px solid red; /* debugging*/
}

#masthead {
  max-width: 800px;
  min-width: 800px;
  width: 800px;
  margin: 0px auto 0px auto;
}

#secondary {
  /*border: 3px solid pink /*debugging*/;
  float: left;
  margin: 0px;
  color: #000000 !important;
}




/**
 * Main Content: classes
 */
.site {
  background-color: transparent;
}

.site:before {
  background-color: transparent;
}

.site-header,
.masthead-fixed .site-header {
  background-color: transparent;
  position: relative;
}

.full-width .site-content {
  margin: 0px;
  /*border: 3px solid blue; /*debugging*/
}

.site-content .entry-header,
.site-content .entry-content,
.site-content .entry-summary,
.site-content .entry-meta,
.page-content {
  max-width: 100%;
}

.site-content .entry-content {
  margin: 0px 10px 0px 10px;
}

.full-width .site-content .entry-header,
.full-width .site-content .entry-content,
.full-width .site-content .entry-summary,
.full-width .site-content .footer.entry-meta {
  padding: 0px 10px 0px 15px;
  /*border: 3px solid blue; /*debugging*/
}

.paging-navigation .page-numbers.current {
	border-top: 5px solid #CC0024;
}

.slider-control-paging .slider-active:before,
.slider-control-paging .slider-active:hover:before {
	background-color: #CC0024;
}

.slider-direction-nav a:hover {
	background-color: #CC0024;
}

.ie7 .slider-control-paging .slider-active,
.ie7 .slider-direction-nav a:hover {
	color: #660024;
}

.featured-content a,
.entry-title a,
.entry-meta a,
.cat-links a,
.entry-content a,
.entry-summary a,
.page-content a,
.page-links a,
.post-navigation a,
.paging-navigation a,
.image-navigation a,
.comment-author a,
.comment-list .pingback a,
.comment-list .trackback a,
.comment-metadata a,
.entry-meta .tag-links a,
.entry-content .edit-link a,
.comment-content a,
.widget_calendar tbody a,
.content-sidebar .widget a,
.taxonomy-description a,
.content-sidebar .widget .widget-title a,
.widget a,
.author-description a,
.slider-control-paging a,
.contributor-bio a,
.widget-title,
.widget-title a {
  color: #CC0024;
	text-decoration: none;
  border: none;
}

.featured-content a:hover,
.entry-title a:hover,
.entry-meta a:hover,
.cat-links a:hover,
.entry-content a:hover,
.entry-summary a:hover,
.page-content a:hover,
.page-links a:hover,
.post-navigation a:hover,
.image-navigation a:hover,
.entry-meta .tag-links a:hover,
.entry-meta .tag-links a:hover:before,
.entry-content .edit-link a:hover,
.widget_calendar tbody a:hover,
.content-sidebar .widget a:hover,
.comment-author a:hover,
.comment-list .pingback a:hover,
.comment-list .trackback a:hover,
.comment-metadata a:hover,
.comment-content a:hover,
.widget a:hover,
.widget-title a:hover,
.content-sidebar .widget .widget-title a:hover,
.paging-navigation a:hover,
.taxonomy-description a:hover,
.author-description a:hover,
.slider-control-paging a:hover,
.slider-control-paging a:hover:before,
.contributor-bio a:hover {
  color: #FFFFFF;
	background-color: #CC0024;
  border: none;
}

.entry-meta .tag-links a:hover:before,
.entry-meta .tag-links a:focus:before {
	border-left-color: #CC0024;
}




/**
 * Content Area
 */
.hentry {
  margin-bottom: 20px;
}

.list-view .site-content .hentry {
  padding-top: 15px;
}

.search-header {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 15px;
}

.content-area {
  padding-top: 0px;
  margin-top: 15px;
  border-right: 1px dotted #CC0024;
  /*border: 1px solid blue; /*debugging*/
}

.main-content {
  width: 500px;
  /*border: 1px solid blue; /*debugging*/
}

.no-sidebar {
  width: 800px !important;
  min-width: 800px !important;
  /*border: 1px solid blue; /*debugging*/
}

.no-sidebar .content-area {
  border: none;
}

.main-content h1 {
  font-size: 18px;
  color: #CC0024;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 12px 0px;
}

.main-content p {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 12px 0px;
}

.main-content img.rlimage {
  border: 4px solid #CC0024;
}

.main-content div.rlfeaturedcontent {
  width: 100%;
  height: auto;
  padding: 10px 0px 10px 0px;
  border-top: 1px dotted #666666;
  border-bottom: 1px dotted #666666;
}

.main-content #rlmap {
  clear: all;
  padding-top: 10px;
  margin-top: 10px;
}

.page-list {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.page-list .page-list-ext-item {
  padding: 5px 0px 15px 0px;
  border-bottom: 1px dotted #666666;
}

.page-list .page-list-ext-item h3 {
  font-size: 15px;
}




/**
 * Navigation
 */
.header-main {
  background-color: #CC0024;
  padding: 0px 0px 0px 0px;
  min-height: 20px;
}

.primary-navigation {
  float: left;
  text-transform: lowercase;
  margin: 0px 0px 0px 0px;
}

.primary-navigation .current_page_item > a,
.primary-navigation .current_page_ancestor > a,
.primary-navigation .current_page_parent > a {
  background-color: #660024;
  color: #FFFFFF;
}

.primary-navigation .current_page_item > a,
.primary-navigation .current_page_ancestor > a,
.primary-navigation .current_page_parent > a {
  background-color: #660024;
}

.primary-navigation .page_item_has_children > a {
  padding-right: 0px;
}

.primary-navigation .page_item_has_children > a:after {
  top: 9px;
  right: 30px;
  vertical-align: text-center;
}

.primary-navigation ul li {
  width: 148px;
  /*border: 1px solid white /* debugging */;
  height: 20px;
  line-height: 20px;
  font-size: 13px;
}

.primary-navigation ul li a {
  text-align: center;
  position: relative;
  border-right: 1px solid #660024;
  border-left: 1px solid #660024;
  width: 100%;
}

.site-navigation a:hover,
.site-navigation a:active,
.primary-navigation a:hover,
.primary-navigation a:active {
  color: #FFFFFF;
  background-color: #660024 !important;
}

.primary-navigation li:hover > a,
.primary-navigation li.focus > a,
.primary-navigation ul ul a:hover,
.primary-navigation ul ul li.focus > a,
.secondary-navigation li:hover > a,
.secondary-navigation li.focus > a,
.secondary-navigation ul ul a:hover,
.secondary-navigation ul ul li.focus > a,
.ie8 .primary-navigation li:hover > a,
.ie8 .primary-navigation li:hover > a,
.ie8 .primary-navigation ul ul a:hover,
.ie8 .primary-navigation ul ul li.focus > a,
.ie8 .secondary-navigation li.focus > a,
.ie8 .secondary-navigation li.focus > a,
.ie8 .secondary-navigation ul ul a:hover,
.ie8 .secondary-navigation ul ul li.focus > a {
  background-color: #660024;
}

.primary-navigation ul li a,
.primary-navigation ul li a:visited {
  padding: 0px 0px 0px 0px;
  text-transform: lowercase;
  color: #FFFFFF;
}

.page_item_has_children a:hover,
.page_item_has_children a:visited,
.primary-navigation ul li a:hover,
.primary-navigation ul li a:active, {
  color: #FFFFFF;
  background-color: #660024;
  text-decoration: none;
}

.primary-navigation ul ul,
.secondary-navigation ul ul,
.ie8 .primary-navigation ul ul,
.ie8 .secondary-navigation ul ul {
  top: 20px;
  width: 101%;
  background-color: #CC0024;
}




/**
 * Search
 */
.search-toggle {
  background-color: transparent;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 35px;
}

.search-toggle:hover,
.search-toggle.active {
	background-color: #660024;
}

.search-toggle:before {
	margin-top: 0px;
}

.search-box-wrapper {
  top: 20px;
}

.search-box {
  border: 1px solid #660024;
	background-color: #CC0024;
}





/**
 * Sidebar
 */
.primary-sidebar .widget {
  color: #333333;
  background-color: #D0C8B8;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: url(/wp-content/themes/redlotus/images/rtCorn.jpg);
  width: 250px;
  min-width: 250px;
  margin: 15px 0px 20px 0px;
}

.primary-sidebar .widget .widget-title {
  background-image: url(/wp-content/themes/redlotus/images/lftCorn.jpg);
	background-position: left top;
  background-repeat: no-repeat;
  font-size: 12px;
  padding: 3px 7px 8px 7px;
  margin: 0px 0px 0px 0px;
}

.primary-sidebar .widget a {
	color: #000000;
}

.primary-sidebar .widget a:hover {
  color: #FFFFFF;
}

.primary-sidebar .widget a img:hover {
  background-color: transparent;
}

.primary-sidebar .widget p {
  padding: 0px 7px 10px 7px;
  margin: 0px 0px 0px 0px;
  line-height: 19px;
  font-size: 12px; 
}

.primary-sidebar .widget .subtitle {
  font-weight: bold;
  color: #CC0024;
}





/**
 * Footer
 */
.site-footer {
  width: 800px;
  min-width: 800px;
  background-color: transparent;
  background-image: url(/wp-content/themes/redlotus/images/bottombar.jpg);
  background-repeat: no-repeat;
  margin: 0px auto 0px auto;
}

.site-info {
  color: #FFFFFF;
  text-align: center;
}

.site-info a {
  color: #FFFFFF;
  background-color: transparent;
}

.site-info a:hover {
  color: #660024;
  background-color: #FFFFFF;
}

.footer-sidebar {
  padding-top: 0px !important;
}

.footer-sidebar .widget {
  margin-bottom: 0px !important;
  padding: 0px 0px 0px 0px;
  float: none;
}

.footer-sidebar .widget_text {
  width: 100%;
}




/**
 * schedule page
 */
.event-list-cal-single a:hover,
.event-list-cal .event-list-cal-excerpt a:hover {
  background-color: transparent;
  cursor: default;
}

.event-list-cal-excerpt {
  top: 15px !important;
}

#event-list-cal-month {
  /*position: static;
  display: block;
  padding: 10px 0px 15px 0px;*/
}




/**
 * psuedo-selectors 
 */
::selection {
  background: #CC0024;
  color: #FFFFFF;
  text-shadow: none;
}

::-moz-zelection {
  background: #CC0024;
  color: #FFFFFF;
  text-shadow: none;
}
