/**
 * HTML tags
 */
BODY {
  font-size: 75%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.5em;
  background-color: #FFFFFF;
  /*background-image: url(/wp-content/themes/guitaruniversity/images/gu.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	background-attachment: fixed;*/
	padding: 0px;
  color: #666666 !important;
}

A, A:visited {
  font-weight: bold;
  color: #CC0024;
  text-decoration: none;
}

A:hover, A:active, {
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
}




/**
 * Buttons
 */
button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.widget button,
.widget .button,
.widget input[type="button"],
.widget input[type="reset"],
.widget input[type="submit"],
.content-sidebar .widget input[type="button"],
.content-sidebar .widget input[type="reset"],
.content-sidebar .widget input[type="submit"] {
  background-color: #CC0024;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
button:active,
.button:active,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.widget input[type="button"]:hover,
.widget input[type="button"]:focus,
.widget input[type="button"]:active,
.widget input[type="reset"]:hover,
.widget input[type="reset"]:focus,
.widget input[type="reset"]:active,
.widget input[type="submit"]:hover,
.widget input[type="submit"]:focus,
.widget input[type="submit"]:active,
.content-sidebar .widget input[type="button"]:hover,
.content-sidebar .widget input[type="button"]:focus,
.content-sidebar .widget input[type="button"]:active,
.content-sidebar .widget input[type="reset"]:hover,
.content-sidebar .widget input[type="reset"]:focus,
.content-sidebar .widget input[type="reset"]:active,
.content-sidebar .widget input[type="submit"]:hover,
.content-sidebar .widget input[type="submit"]:focus,
.content-sidebar .widget input[type="submit"]:active {
	background-color: #000000;
}




/**
 * Main Content: IDs
 */
#page-content {
  max-width: 85%;
  min-width: 85%;
  width: 85%;
  background-color: #FFFFFF;
  padding-top: 10px;
  margin: 0px auto 0px auto !important;
  /*border: 1px solid green; /* debugging*/
}

#main {
  max-width: 99% !important;
  min-width: 99% !important;
  width: 99% !important;
  margin: 0px auto 0px auto !important;
  border: 5px solid #CC0024;
  /*border: 3px solid pink /*debugging*/;
}

#site-header-image {
  margin: 0px auto 0px auto; 
  background-color: #FFFFFF;
	background-repeat: no-repeat;
  width: 80%;
	padding-top: 10px;
  /*border: 3px solid pink /*debugging*/;
}

#site-header {
  background-color: #FFFFFF;
	position: relative;
	z-index: 3;
  text-align: center;
  border-top: 1px solid #CC0024;
  border-right: 1px solid #CC0024;
  border-left: 1px solid #CC0024;
	border-bottom: 10px solid #CC0024;
  /*border: 3px solid blue /*debugging*/;
}

#masthead {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  margin: 0px auto 0px auto;
  /*border: 3px solid pink /*debugging*/;
}

#secondary {
  float: left;
  width: 30%;
  min-width: 30% !important;
  padding: 0px 5px 0px 30px !important;
  margin: 0px;
  color: #000000 !important;
  /*border: 3px solid green /*debugging*/;
}




/**
 * Main Content: classes
 */
.site {
  background-color: transparent;
}

.site:before {
  background-color: transparent;
  width: 0px;
}

.site-header,
.masthead-fixed .site-header {
  background-color: transparent;
  position: relative;
}

.full-width .site-content {
  margin: 0px;
  /*border: 3px solid blue; /*debugging*/
}

.site-content .entry-header,
.site-content .entry-content,
.site-content .entry-summary,
.site-content .entry-meta,
.page-content {
  max-width: 100%;
}

.site-content .entry-content {
  margin: 0px 10px 0px 10px;
}

.full-width .site-content .entry-header,
.full-width .site-content .entry-content,
.full-width .site-content .entry-summary,
.full-width .site-content .footer.entry-meta {
  padding: 0px 10px 0px 15px;
  /*border: 3px solid blue; /*debugging*/
}

.paging-navigation .page-numbers.current {
	border-top: 5px solid #CC0024;
}

.slider-control-paging .slider-active:before,
.slider-control-paging .slider-active:hover:before {
	background-color: #CC0024;
}

.slider-direction-nav a:hover {
	background-color: #CC0024;
}

.ie7 .slider-control-paging .slider-active,
.ie7 .slider-direction-nav a:hover {
	color: #CC0024;
}

.featured-content a,
.entry-title a,
.entry-meta a,
.cat-links a,
.entry-content a,
.entry-summary a,
.page-content a,
.page-links a,
.post-navigation a,
.paging-navigation a,
.image-navigation a,
.comment-author a,
.comment-list .pingback a,
.comment-list .trackback a,
.comment-metadata a,
.entry-meta .tag-links a,
.entry-content .edit-link a,
.comment-content a,
.widget_calendar tbody a,
.content-sidebar .widget a,
.taxonomy-description a,
.content-sidebar .widget .widget-title a,
.widget a,
.author-description a,
.slider-control-paging a,
.contributor-bio a,
.widget-title,
.widget-title a {
  color: #CC0024;
	text-decoration: none;
  border: none;
}

.widget-title {
  color: #FFFFFF;
}

.featured-content a:hover,
.entry-title a:hover,
.entry-meta a:hover,
.cat-links a:hover,
.entry-content a:hover,
.entry-summary a:hover,
.page-content a:hover,
.page-links a:hover,
.post-navigation a:hover,
.image-navigation a:hover,
.entry-meta .tag-links a:hover,
.entry-meta .tag-links a:hover:before,
.entry-content .edit-link a:hover,
.widget_calendar tbody a:hover,
.content-sidebar .widget a:hover,
.comment-author a:hover,
.comment-list .pingback a:hover,
.comment-list .trackback a:hover,
.comment-metadata a:hover,
.comment-content a:hover,
.widget a:hover,
.widget-title a:hover,
.content-sidebar .widget .widget-title a:hover,
.paging-navigation a:hover,
.taxonomy-description a:hover,
.author-description a:hover,
.slider-control-paging a:hover,
.slider-control-paging a:hover:before,
.contributor-bio a:hover {
  color: #FFFFFF;
	background-color: #CC0024;
  border: none;
}

.entry-meta .tag-links a:hover:before,
.entry-meta .tag-links a:focus:before {
	border-left-color: #CC0024;
}




/**
 * Content Area
 */
.hentry {
  margin-bottom: 20px;
}

.list-view .site-content .hentry {
  padding-top: 15px;
}

.search-header {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 15px;
}

.content-area {
  padding-top: 0px;
  margin-top: 15px;
  border-right: 1px dotted #FFFFFF;
  /*border: 1px solid blue; /*debugging*/
}

.main-content {
  width: 65%;
  /*border: 1px solid blue; /*debugging*/
}

.no-sidebar {
  width: 99% !important;
  min-width: 99% !important;
  /*border: 1px solid blue; /*debugging*/
}

.no-sidebar .content-area {
  border: none;
}

.main-content h1 {
  font-size: 18pt;
  color: #000000;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 12px 0px;
}

.main-content p {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 12px 0px;
}

.main-content img.rlimage {
  border: 4px solid #D2001B;
}

.main-content div.rlfeaturedcontent {
  width: 100%;
  height: auto;
  padding: 10px 0px 10px 0px;
  border-top: 1px dotted #666666;
  border-bottom: 1px dotted #666666;
}

.main-content #rlmap {
  clear: all;
  padding-top: 10px;
  margin-top: 10px;
}

.page-list {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.page-list .page-list-ext-item {
  padding: 5px 0px 15px 0px;
  border-bottom: 1px dotted #666666;
}

.page-list .page-list-ext-item h3 {
  font-size: 15pt;
}




/**
 * Navigation
 */
.header-main {
  width: 99%;
  min-width: 500px;
  background-color: #FFFFFF;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 8px 0px;
  min-height: 40px;
  /*border: 1px solid blue; /* debugging */
}

.primary-navigation {
  float: none;
  text-transform: none;
  text-align: center;
  margin: 0px auto 0px auto;
}

.primary-navigation .current_page_item > a,
.primary-navigation .current_page_ancestor > a,
.primary-navigation .current_page_parent > a {
  background-color: #CC0024;
  color: #FFFFFF;
}

.primary-navigation .current_page_item > a,
.primary-navigation .current_page_ancestor > a,
.primary-navigation .current_page_parent > a {
  background-color: #CC0024;
}

.primary-navigation .page_item_has_children .children {
  width: 180px;
  height: auto;
  /*border: 1px solid green; /* debugging */
}

.primary-navigation .page_item_has_children > a {
  padding-right: 0px;
}

.primary-navigation .page_item_has_children > a:after,
.primary-navigation .menu-item-has-children li.menu-item-has-children > a:after, 
.primary-navigation .menu-item-has-children li.page_item_has_children > a:after, 
.primary-navigation .page_item_has_children li.menu-item-has-children > a:after, 
.primary-navigation .page_item_has_children li.page_item_has_children > a:after {
  top: 15px;
  right: 25px;
}

.primary-navigation ul {
  margin: 0px auto 0px auto;
  min-height: inherit;
  height: 40px;
  /*border: 1px solid blue /* debugging */;
}

.primary-navigation ul li {
  width: 160px;
  line-height: 38px;
  font-size: 14pt;
  margin: 0px 6px 0px 0px;
  /*border: 3px solid green /* debugging */;
}

.primary-navigation ul li a {
  display: inline-block;
  background-color: #CC0024;
  border-radius: 6px;
  box-shadow: 3px 3px 3px #CCCCCC;
  text-align: center;
  vertical-align: center !important;
  position: relative;
  width: 100%;
  height: 40px;
}

.site-navigation a:hover,
.site-navigation a:active,
.primary-navigation a:hover,
.primary-navigation a:active {
  color: #CC0024;
  background-color: #CCCCCC !important;
  border-radius: 6px;
  box-shadow: 3px 3px 3px #CC0024;
}

.primary-navigation li:hover > a,
.primary-navigation li.focus > a,
.primary-navigation ul ul a:hover,
.primary-navigation ul ul li.focus > a,
.secondary-navigation li:hover > a,
.secondary-navigation li.focus > a,
.secondary-navigation ul ul a:hover,
.secondary-navigation ul ul li.focus > a,
.ie8 .primary-navigation li:hover > a,
.ie8 .primary-navigation li:hover > a,
.ie8 .primary-navigation ul ul a:hover,
.ie8 .primary-navigation ul ul li.focus > a,
.ie8 .secondary-navigation li.focus > a,
.ie8 .secondary-navigation li.focus > a,
.ie8 .secondary-navigation ul ul a:hover,
.ie8 .secondary-navigation ul ul li.focus > a {
  color: #CC0024;
  background-color: #CCCCCC;
}

.primary-navigation ul li a,
.primary-navigation ul li a:visited {
  padding: 0px 0px 0px 0px;
  text-transform: none;
  color: #FFFFFF;
}

.page_item_has_children a:hover,
.page_item_has_children a:visited,
.primary-navigation ul li a:hover,
.primary-navigation ul li a:active, {
  color: #FFFFFF;
  background-color: #CC0024;
  text-decoration: none;
}

.primary-navigation ul ul,
.secondary-navigation ul ul,
.ie8 .primary-navigation ul ul,
.ie8 .secondary-navigation ul ul {
  top: 40px;
  width: inherit;
  text-align: left;
  background-color: #CC0024;
}

.site-navigation ul ul a:hover,
.site-navigation ul ul a:active,
.primary-navigation ul ul a:hover,
.primary-navigation ul ul a:active {
  color: #CC0024;
  background-color: #CCCCCC !important;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
}

.primary-navigation ul ul li a {
  display: inline-block;
  background-color: transparent;
  border-radius: 0px;
  box-shadow: none;
  text-align: left;
  vertical-align: center !important;
  position: relative;
  width: 100%;
  height: 40px;
  padding: 0px 0px 0px 5px;
}

.primary-navigation ul ul li,
.secondary-navigation ul ul li,
.ie8 .primary-navigation ul ul li,
.ie8 .secondary-navigation ul ul li {
  font-size: 10pt;
  background-color: #CC0024;
}

.primary-navigation ul ul ul,
.secondary-navigation ul ul ul,
.ie8 .primary-navigation ul ul ul,
.ie8 .secondary-navigation ul ul ul {
}

.primary-navigation ul ul ul li,
.secondary-navigation ul ul ul li,
.ie8 .primary-navigation ul ul ul li,
.ie8 .secondary-navigation ul ul ul li {
  font-size: 9pt;
}




/**
 * Search
 */
.search-toggle {
  background-color: #CC0024;
  height: 40px;
  line-height: 39px;
  text-align: center;
  width: 60px;
  border-radius: 6px;
  box-shadow: 3px 3px 3px #CC0024;
}

.search-toggle:hover,
.search-toggle:active,
.search-toggle.active {
  color: #CC0024;
	background-color: #CCCCCC;
  border-radius: 6px;
  box-shadow: 3px 3px 3px #CC0024;
}

.search-toggle:before {
  font-size: 22pt;
  font-weight: bold;
	margin: 7px 0px 0px 4px;
}

.search-box-wrapper {
  top: 20px;
  width: 375px;
  padding: 0px 0px 0px 0px;
}

.search-box {
  border: 1px solid #000000;
  border-radius: 5px;
	background-color: #CC0024;
}





/**
 * Sidebar
 */
.primary-sidebar .widget {
  color: #FFFFFF;
  background-color: #888888;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #CCCCCC;
  background-opacity: 0.0125;
  width: 99%;
  min-width: 99%;
  margin: 15px 0px 20px 0px;
}

.primary-sidebar .widget .widget-title {
	background-position: left top;
  background-repeat: no-repeat;
  font-size: 12pt;
  text-transform: none;
  padding: 3px 12px 8px 12px;
  margin: 0px 0px 0px 0px;
}

.primary-sidebar .widget a {
	color: #CC0024;
}

.primary-sidebar .widget a:hover {
  color: #FFFFFF;
}

.primary-sidebar .widget a img:hover {
  background-color: transparent;
}

.primary-sidebar .widget_archive ul,
.primary-sidebar .widget_categories ul {
  margin: 0px 12px 0px 12px;
  font-size: 10pt; 
}

.primary-sidebar .textwidget {
  padding: 0px 12px 0px 12px;
  font-size: 10pt; 
  line-height: 19pt;
}

.primary-sidebar .widget p {
  padding: 0px 0px 10px 0px;
  margin: 0px 0px 0px 0px;
}

.primary-sidebar .widget .subtitle {
  font-weight: bold;
  color: #FFFFFF;
}





/**
 * Footer
 */
.site-footer {
  width: 84%;
  min-width: 84%;
  background-color: #000000;
  /*background-image: url(/wp-content/themes/guitaruniversity/images/bottombar.jpg);*/
  background-repeat: no-repeat;
  margin: 5px auto 0px auto;
  position: relative;
  border: 5px solid black;
  /*border: 1px solid green; /* debugging*/
}

.site-info {
  color: #FFFFFF;
  text-align: center;
}

.site-info a {
  color: #FFFFFF;
  background-color: transparent;
}

.site-info a:hover {
  color: #660024;
  background-color: #FFFFFF;
}

.footer-sidebar {
  padding-top: 0px !important;
}

.footer-sidebar .widget {
  margin-bottom: 0px !important;
  padding: 0px 0px 0px 0px;
  float: none;
}

.footer-sidebar .widget_text {
  width: 100%;
}




/**
 * schedule page
 */
.event-list-cal-single a:hover,
.event-list-cal .event-list-cal-excerpt a:hover {
  background-color: transparent;
  cursor: default;
}

.event-list-cal-excerpt {
  top: 15px !important;
}

#event-list-cal-month {
  /*position: static;
  display: block;
  padding: 10px 0px 15px 0px;*/
}




/**
 * psuedo-selectors 
 */
::selection {
  background: #CC0024;
  color: #FFFFFF;
  text-shadow: none;
}

::-moz-zelection {
  background: #CC0024;
  color: #FFFFFF;
  text-shadow: none;
}
